<div class="header">
  <div class="header-authorization">
    <h4 class="user-name">{{ userName }}</h4>
    <button
      type="button"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Sign Out
    </button>
  </div>
  <hr />
  <div class="header-cart">
    <a routerLink="/catalog" routerLinkActive="active" class="to-main-button">
      <h1>JS Band Store</h1>
    </a>
    <a routerLink="/cart" routerLinkActive="active" class="cart-button">
      <img
        src="../../../assets/image/icon/shopping-cart.svg"
        class="shopping-cart"
        alt="shopping-cart"
      />
      Cart ( cart.books.length )
    </a>
  </div>
  <hr />
</div>
