@import '../../../../assets/styles/colors.scss';

.book-details-container {
    display        : flex;
    justify-content: space-evenly;
}

.book-details {
    display: flex;
}

.book-details-content {
    padding: 20px;
}

.book-details_image-container {
    width          : 400px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-between;
    padding        : 10px;

    img {
        width : 350px;
        margin: 20px;
    }
}

.book-details_tags-container {
    display    : flex;
    align-items: center;
    padding    : 10px;

    img {
        width : 30px;
        margin: 10px 15px;
    }
}

.book-details-cart {
    width  : 330px;
    margin : 30px;
    padding: 10px;
    border : 1px solid $btn_border-color;
}

.book-details-cart_price,
.book-count-label,
.book-details-cart_total-price,
.book-details-cart_footer {
    display        : flex;
    justify-content: space-between;
    padding        : 10px 0;
}

#book-count {
    min-width: 50px;
}

.book-details_title {
    line-height: 2rem;
    font-size  : 1.4rem;
}

.book-details_subtitle {
    line-height: 2rem;
    font-size  : 1.3rem;
}

.book-details_description {
    padding       : 1rem;
    font-size     : 1.2rem;
    letter-spacing: 0.09rem;
}

.book-details-cart_footer {
    justify-content: flex-end;
}

.book-details_cart-button {
    background-color: $btn-color;
    text-decoration : none;
    padding         : 5px;
    font-size       : 19px;
    border-radius   : 5px;
    border          : 1px solid $btn_border-color;
    color           : $btn_hover-color;
    outline         : none;
    transition      : 0.2s ease-in-out;

    &:hover {
        cursor            : pointer;
        text-decoration   : none;
        background-color  : $btn_hover-second-color;
        transform         : translateY(-10%);
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow   : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow        : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
}