<div class="login-page-wrapper">
  <div class="login-page">
    <img
      src="../../assets/image/default-avatar.jpg"
      class="default-user"
      alt="defaul user"
    />
    <h2>JS Band Store</h2>
    <form id="authorization">
      <label for="name-input"
        >Name<input
          id="name-input"
          name="user-name"
          placeholder="Name"
          type="text"
          required=""
          value=""
          [(ngModel)]="userName" /></label
      ><button type="button" (click)="login()" [disabled]="isAuthorizing">
        Log In
      </button>
    </form>
  </div>
</div>
